
/* Reset base styles - Assume nothing */
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-align: left; }

li {
  list-style-type: none; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

body {
  background-color: #1b1b1b;
  margin: 20px 20px 20px 220px;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 82%; }


/* Sidebar */
#sidebar {
  position: absolute;
  left: 0;
  top: 20px; }
  #sidebar h1 {
    border-bottom: 1px solid #333333;
    background: center left no-repeat url(../images/heading_bkg.gif);
    font-size: 1.6em;
    color: white;
    text-indent: 43px;
    padding: 8px 0;
    width: 220px;
    height: 1em; }
  #sidebar form {
    padding: 0; }
  #sidebar input {
    border: 2px solid #2F759A;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    padding: 0.3em 10px; }
  #sidebar ul {
    border-bottom: 1px solid #333333;
    padding: 10px; }
    #sidebar ul a {
      background: left center no-repeat url(../images/sidebar/icon_content.gif);
      color: white !important;
      text-decoration: none !important;
      font-weight: bold;
      padding: 0.6em 0 0.6em 20px;
      display: block; }
  #sidebar li {
    padding: 0 10px;
    display: block; }
  #sidebar li.current {
    background: right center no-repeat url(../images/sidebar/current_bkg.gif);
    /* Browser-specific border-radius */
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px; }
  #sidebar #contentNav a {
    background-image: url(../images/sidebar/content.png); }
  #sidebar #libraryNav a {
    background-image: url(../images/sidebar/library.png); }
  #sidebar #settingsNav a {
    background-image: url(../images/sidebar/settings.png); }
  #sidebar p {
    background: left top no-repeat url(../images/sidebar/icon_logged_in.gif);
    color: #666666;
    padding: 0 0 0 30px;
    margin: 10px 20px 0 20px;
    width: 150px; }
    #sidebar p strong, #sidebar p a {
      color: white !important; }

/* Wrapper */
#wrapper {
  background: right bottom no-repeat url(../images/wrapper_bkg.png);
  padding: 0 7px 7px 0;
  width: 100%;
  min-height: 30em;
  float: left; }
  #wrapper h1 {
    background: #244e66;
    color: white;
    font-size: 1.6em;
    padding: 8px 15px; }
  #wrapper h2 {
    font-size: 1.2em; }

/* Sub-navigation */
#subnav {
  background: left center repeat-x url(../images/subnav_bkg.gif);
  border-top: 1px solid #2B3134;
  border-bottom: 1px solid #2B3134;
  padding: 4px 0;
  width: 100%;
  float: left; }
  #subnav li {
    float: left; }
  #subnav a {
    font-weight: bold;
    text-decoration: none !important;
    padding: 0.3em 0.6em;
    margin: 2px 0 2px 15px;
    float: left; }
  #subnav #backLink a {
    background: left center no-repeat url(../images/sub_nav_back_bkg.gif);
    color: #244e66 !important;
    padding-left: 13px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; }
  #subnav .button {
    float: right; }
    #subnav .button a {
      color: white !important;
      background-color: #244e66;
      background-image: url(../images/button_bkg_aqua.gif);
      background-repeat: repeat-x;
      border: 1px solid white;
      margin: 1px 8px 0 0;
      -webkit-border-radius: 3px; }

/* Tab Bar */
#tabBar {
  background: #666666;
  padding: 0.6em 0 0 0;
  width: 100%;
  float: left; }
  #tabBar li, #tabBar a {
    float: left; }
  #tabBar a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.4em 15px 0.7em 15px;
    margin: 0 0 0 15px; }
  #tabBar .current a {
    background: white;
    color: #244e66;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px; }

/* Icon nav */
#iconNav {
  margin: 2em 2% 0 2%;
  width: 96%;
  float: left; }
  #iconNav li, #iconNav a {
    float: left; }
  #iconNav a {
    background: center top no-repeat;
    text-align: center;
    text-decoration: none;
    color: #333333;
    font-size: 1.5em;
    padding: 85px 0 0 0;
    width: 8em; }

/* Base styles */
form {
  padding: 20px 25px; }

fieldset {
  border: 0; }

legend {
  font-size: 1.2em;
  color: #1b1b1b;
  padding: 0 0 0.35em 7px; }

div.fieldset,
ol.fieldset {
  background: #e5f7ff;
  border: 1px solid #D2D7D7;
  padding: 1.5em 0 0.5em 0;
  margin: 0 0 1.5em 0;
  width: 99.9%;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

label {
  font-weight: bold;
  text-align: right;
  padding: 0.2em 0.6em 0.2em 0;
  margin: 1px 0 0 0;
  width: 12em;
  float: left;
  clear: left; }

label.checkbox {
  text-align: left;
  clear: right;
  margin-left: 0.6em; }

label.inline {
  margin-left: 0.6em;
  width: auto;
  clear: none; }

input.inline {
  clear: none; }

input.text,
input.password,
input.checkbox,
input.radio,
textarea,
select {
  margin-bottom: 1em;
  float: left;
  clear: right; }

input.checkbox,
input.radio {
  margin-top: 0.35em;
  margin-left: 12.6em;
  clear: left; }

/* Input/textarea styles and widths */
input.text,
input.password,
textarea {
  background: white left top no-repeat url(../images/form/input_bkg.gif);
  border: 1px solid #999999;
  padding: 0.2em 0.5em; }

input.tiny {
  width: 2em; }

input.small,
textarea.small {
  width: 5em; }

input.medium,
textarea.medium {
  width: 10em; }

input.large,
textarea.large {
  width: 20em; }

textarea.short {
  height: 5em; }

textarea.medium {
  height: 10em; }

textarea.tall {
  height: 20em; }

/* Selects */
select {
  margin-top: 0.3em; }

/* Form controls — save/cancel */
p.controls {
  border-top: 1px solid #cccccc;
  padding: 1em 0 0 0;
  margin: 0.5em 0 0 0; }
  p.controls input {
    background: #cccccc left top repeat-x url(../images/button_bkg_grey.gif);
    border-width: 2px;
    border-style: solid;
    border-color: #244e66;
    color: #244e66;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.3em 0.4em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  p.controls strong {
    font-size: 1.2em; }

/* Error display */
div.error {
  background: 25px 10px no-repeat url(../images/form/warning.gif);
  background-color: #ffffcc;
  border: 2px solid #CDCCA3;
  padding: 15px 0;
  margin: 0 0 1.5em 0;
  min-height: 45px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  div.error h2, div.error ul {
    margin-left: 110px; }
  div.error h2 {
    color: #666666; }
  div.error li {
    font-size: 1.2em;
    padding: 0.3em 0 0 0;
    display: block; }

table {
  width: 100%;
  clear: both; }

thead th {
  background: #eaeaea left top repeat-x url(../images/table_head_bkg.gif);
  border-top: 1px solid white;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.4em 15px 0.5em 15px;
  color: #666666; }

tbody th {
  background: #F2F2F2;
  font-size: 1.2em;
  color: #999999; }

td {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #cccccc;
  padding: 5px 15px; }

tr.even td {
  background-color: #F3EFE5; }

table .controls {
  border-right-width: 0; }

th.controls {
  letter-spacing: -1000em;
  text-indent: -1000em; }

td.controls a {
  margin: 0 0.5em 0 0;
  float: left; }

/* Inset table fields */
td.inset1 {
  text-indent: 1.5em; }

td.inset2 {
  text-indent: 3em; }

td.inset3 {
  text-indent: 4.5em; }

td.inset4 {
  text-indent: 6em; }

td.inset5 {
  text-indent: 7.5em; }

td.inset6 {
  text-indent: 9em; }

/* Asset Library */
.assetList {
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
  float: left; }

h2.assetList {
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  color: #333333;
  padding: 0 0 0.3em 0;
  margin-top: 1em;
  margin-bottom: 0.6em; }

ul.assetList {
  margin-bottom: 1em; }
  ul.assetList li, ul.assetList a {
    width: 15em;
    float: left;
    overflow: hidden; }
  ul.assetList h3 {
    white-space: no-wrap;
    color: black !important;
    font-size: 1.1em;
    margin-bottom: 0.2em; }
  ul.assetList p {
    color: #666666 !important;
    font-size: 0.9em; }
  ul.assetList a {
    background: left top no-repeat;
    text-decoration: none;
    padding: 18px 0 0 78px;
    min-height: 52px; }
  ul.assetList a.assetArchive,
  ul.assetList a.assetAudio,
  ul.assetList a.assetBinary,
  ul.assetList a.assetDocument,
  ul.assetList a.assetImage,
  ul.assetList a.assetVideo {
    background-image: url(../images/library/asset_generic_medium.gif); }
  ul.assetList a.collection {
    background-image: url(../images/library/collection_medium.gif); }
  ul.assetList a.browseAll {
    background-image: url(../images/library/browse_all_medium.gif); }
  ul.assetList a.browseArchives {
    background-image: url(../images/library/browse_archives_medium.gif); }
  ul.assetList a.browseAudios {
    background-image: url(../images/library/browse_audio_medium.gif); }
  ul.assetList a.browseBinaries {
    background-image: url(../images/library/browse_binaries_medium.gif); }
  ul.assetList a.browseDocuments {
    background-image: url(../images/library/browse_documents_medium.gif); }
  ul.assetList a.browseImages {
    background-image: url(../images/library/browse_images_medium.gif); }
  ul.assetList a.browseVideos {
    background-image: url(../images/library/browse_videos_medium.gif); }

/* Assets */
#assets.show #subnav {
  margin-bottom: 30px; }
#assets.show #wrapper {
  position: relative; }
  #assets.show #wrapper h2, #assets.show #wrapper h3, #assets.show #wrapper p, #assets.show #wrapper dl {
    margin-left: 340px;
    margin-right: 30px; }
  #assets.show #wrapper h2 {
    font-weight: bold;
    margin-bottom: 0.3em; }
  #assets.show #wrapper h3 {
    border-bottom: 1px solid #E6E6E6;
    font-weight: bold;
    padding-bottom: 0.6em;
    margin-bottom: 0.7em; }
  #assets.show #wrapper dl {
    margin-bottom: 2em; }
  #assets.show #wrapper dt {
    font-weight: bold;
    color: #333333;
    padding: 0.2em 0;
    width: 5em;
    float: left;
    clear: left; }
  #assets.show #wrapper dd {
    padding: 0.3em 0 0.1em 0;
    clear: right; }
#assets.show #preview {
  border: 1px solid #cccccc;
  background: #E6E6E6;
  text-align: center;
  margin-top: 30px;
  width: 250px;
  height: 200px;
  position: absolute;
  left: 50px;
  top: 5.3em;
  overflow: hidden; }
#assets.show #categoryAndType {
  margin-bottom: 1.5em; }

/* Asset browser link */
.assetBrowserLink {
  margin-bottom: 1em;
  float: left;
  clear: right; }
  .assetBrowserLink strong, .assetBrowserLink a {
    float: left; }
  .assetBrowserLink strong {
    background-color: #d4eaf7;
    border: 1px solid #999999;
    whitespace: nowrap;
    padding: 0.35em 0.8em;
    margin: 0 0.5em 0 0;
    width: 17em;
    overflow: hidden; }

/* Asset Browser */
#assetsDialogOverlay {
  background: url(../images/library/dialog_overlay.png);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20; }

#assetsDialog {
  border: 4px solid #807F65;
  background: #FFFFCC;
  height: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 21;
  /* Border Radius */ */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  #assetsDialog h1 {
    background: #807F65;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    padding: 0.2em 0;
    text-indent: 10px; }
  #assetsDialog #assetsNavigation {
    background: #666550;
    width: 100%;
    float: left; }
    #assetsDialog #assetsNavigation li, #assetsDialog #assetsNavigation a {
      float: left; }
    #assetsDialog #assetsNavigation li {
      padding: 0.5em 0; }
    #assetsDialog #assetsNavigation a {
      background: left center no-repeat url(../images/library/back.gif);
      font-weight: bold;
      color: #666550;
      text-decoration: none;
      padding: 0.5em 10px 0.5em 18px;
      margin: 0 0 0 8px;
      /* Browser-specific border-radius */
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px; }
  #assetsDialog #assetsSearch {
    float: right !important; }
    #assetsDialog #assetsSearch label {
      color: white;
      padding: 0.4em 0.5em 0 0; }
    #assetsDialog #assetsSearch input {
      background: white left center no-repeat url(../images/library/search_icon.gif);
      border: 2px solid #373B40;
      padding: 0.3em 0.6em 0.3em 28px;
      width: 12em; }
  #assetsDialog form {
    padding: 0 10px 0 0; }
  #assetsDialog #assetsDisplay {
    width: 100%;
    float: left;
    clear: both;
    overflow: auto;
    width: 96%; }
    #assetsDialog #assetsDisplay .assetList {
      left: 2%;
      right: 2%; }
    #assetsDialog #assetsDisplay ul.assetList {
      overflow: hidden; }
  #assetsDialog .controls {
    border-top: 1px solid #AFAE8B;
    padding: 0.8em 0;
    height: 1.8em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0; }
  #assetsDialog #upload {
    margin-left: 15px;
    float: left; }
  #assetsDialog #cancel {
    margin-right: 15px;
    float: right; }

/* Asset panels */
#assetPanels {
  margin: 1em 2%;
  width: 98%;
  float: left; }
  #assetPanels li, #assetPanels a {
    float: left; }
  #assetPanels a {
    border: 2px solid white;
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 130px;
    width: 10em;
    min-height: 79px;
    position: relative; }
    #assetPanels a:hover {
      background: #B9B791;
      border-color: #999778; }
  #assetPanels div {
    border: 2px solid #666666;
    width: 110px;
    height: 75px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: hidden; }
  #assetPanels h2 {
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    margin: 0 10px 0.2em 0;
    overflow: hidden; }
  #assetPanels p {
    font-size: 0.85em;
    color: #666666; }

/* Buttons */
.buttonAqua,
.buttonGrey {
  text-decoration: none !important;
  font-weight: bold;
  padding: 0.3em 0.6em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: left; }

.buttonAqua {
  background-color: #244e66;
  background-image: url(../images/button_bkg_aqua.gif);
  background-repeat: repeat-x;
  border: 2px solid white;
  color: white !important; }

.buttonGrey {
  background: #cccccc left top repeat-x url(../images/button_bkg_grey.gif);
  border-width: 2px;
  border-style: solid;
  border-color: #244e66;
  color: #244e66; }

p.empty {
  font-size: 2em;
  color: #cccccc;
  text-align: center;
  padding: 5em 0 0 0;
  width: 100%;
  float: left; }

/* Widgets */
p.newLink {
  padding: 1em;
  /* Plus and Minus controls */ }
  p.newLink ul.plusAndMinus {
    margin: 0.2em 0 0 1em;
    float: left; }
    p.newLink ul.plusAndMinus li, p.newLink ul.plusAndMinus a {
      width: 18px !important;
      height: 18px;
      float: left; }
    p.newLink ul.plusAndMinus li {
      border: 0 !important;
      padding: 0 !important;
      margin: 0;
      list-style-type: none; }
    p.newLink ul.plusAndMinus a {
      background: left top no-repeat url(../images/form/plus_and_minus.gif);
      letter-spacing: -1000em;
      text-indent: -1000em; }
    p.newLink ul.plusAndMinus .minus {
      background-position: right top;
      margin-left: 4px !important; }

/* Delete confirmation */
#delete {
  margin-left: 20px; }
  #delete form {
    background: 15px 25px no-repeat url(../images/form/warning.gif);
    background-color: #ffffcc;
    border: 4px solid #807F65;
    margin: 8em auto 0 auto;
    padding-left: 90px;
    width: 25em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  #delete h1 {
    font-weight: bold;
    font-size: 2em;
    color: #244e66; }
  #delete p.message {
    font-size: 1.2em;
    margin: 0.3em 0 1em 0;
    line-height: 1.2; }

/* Login */
#login {
  margin: 60px 20% 0 20%; }
  #login h1 {
    margin-bottom: 2em; }
  #login .buttonGrey {
    margin-left: 12.6em;
    clear: both; }

/* Page form */
#pageBehaviours input, #pageBehaviours label {
  margin-bottom: 0; }
#pageBehaviours p {
  color: #333333;
  margin: 0.4em 0 1em 12.6em;
  width: 25em;
  float: left;
  clear: both; }
#pageBehaviours select {
  margin-left: 12.6em;
  min-width: 13em;
  clear: both; }

/* Locales form */
#dialects .checkbox {
  margin-bottom: 0.5em; }

/* Templates form */
#templateSections li {
  border-bottom: 1px solid #cccccc;
  width: 100%;
  float: left;
  position: relative; }
#templateSections li.last {
  border: 0; }

/* Contents */
#iconNav #pagesNav {
  background-image: url(../images/content/pages.gif); }
#iconNav #pageTypesNav {
  background-image: url(../images/content/page_types.gif); }
#iconNav #layoutsNav {
  background-image: url(../images/content/layouts.gif); }

/* Locales */
#iconNav #usersNav {
  background-image: url(../images/settings/users.gif); }
#iconNav #dialectsNav {
  background-image: url(../images/settings/dialects.gif); }
#iconNav #localesNav {
  background-image: url(../images/settings/locales.gif); }
