/ Base colours
!mid_aqua = #244E66
!light_aqua = #D4EAF7
!pale_aqua = #E5F7FF
!mid_grey = #1B1B1B
!dark_grey = #161616
!error_bkg = #FFFFCC

/* Reset base styles - Assume nothing
*
  :margin 0
  :padding 0
  :font
    :size 1em
    :weight normal
    :style normal
  :line-height 1
  :text-align left
  
li
  :list-style-type none
  
strong
  :font-weight bold

em
  :font-style italic
  
body
  :background-color= !mid_grey
  :margin 20px 20px 20px 220px
  :font
    :family "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
    :size 82%
    
/ Import everything else
@import layout.sass
@import form.sass
@import table.sass
@import library.sass
@import widgets_and_controls.sass
@import page_specific.sass
