/ Base colours
!mid_aqua = #244E66
!light_aqua = #D4EAF7
!pale_aqua = #E5F7FF
!mid_grey = #1B1B1B
!dark_grey = #161616
!error_bkg = #FFFFCC

/* Reset base styles - Assume nothing
*
  :margin 0
  :padding 0
  :font
    :size 1em
    :weight normal
    :style normal
  :line-height 1
  :text-align left
  
li
  :list-style-type none
  
strong
  :font-weight bold

em
  :font-style italic
  
/* Base
body
  :background-color= !mid_grey
  :margin 20px 20px 20px 220px
  :font
    :family "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
    :size 82%
    
/* Sidebar
#sidebar
  :position absolute
  :left 0
  :top 20px
  
  h1
    :border-bottom 1px solid #333333
    :background center left no-repeat url(../images/heading_bkg.gif)
    :font-size 1.6em
    :color white
    :text-indent 43px
    :padding 8px 0
    :width 220px
    :height 1em
    
  form
    :padding 0
    
  input
    :border 2px solid #2F759A
    :-moz-border-radius 13px
    :-webkit-border-radius 13px
    :padding 0.3em 10px
  
  ul
    :border-bottom 1px solid #333333
    :padding 10px
    
    a
      :background left center no-repeat url(../images/sidebar/icon_content.gif)
      :color white !important
      :text-decoration none !important
      :font-weight bold
      :padding 0.6em 0 0.6em 20px
      :display block
    
  li
    :padding 0 10px
    :display block
    
  li.current
    :background right center no-repeat url(../images/sidebar/current_bkg.gif)
    /* Browser-specific border-radius
    :-moz-border-radius-topleft 3px
    :-moz-border-radius-bottomleft 3px
    :-webkit-border-top-left-radius 3px
    :-webkit-border-bottom-left-radius 3px
   
  #contentNav a
    :background-image url(../images/sidebar/content.png)
    
  #libraryNav a
    :background-image url(../images/sidebar/library.png)
    
  #settingsNav a
    :background-image url(../images/sidebar/settings.png)
    
  p
    :background left top no-repeat url(../images/sidebar/icon_logged_in.gif)
    :color #666666
    :padding 0 0 0 30px
    :margin 10px 20px 0 20px
    :width 150px
    
    strong, a
      :color white !important
    
/* Wrapper
#wrapper
  :background right bottom no-repeat url(../images/wrapper_bkg.png)
  :padding 0 7px 7px 0
  :width 100%
  :min-height 30em
  :float left
  
  h1
    :background= !mid_aqua
    :color white
    :font-size 1.6em
    :padding 8px 15px
    
  h2
    :font
      :size 1.2em

/* Sub-navigation
#subnav
  :background left center repeat-x url(../images/subnav_bkg.gif)
  :border-top 1px solid #2B3134
  :border-bottom 1px solid #2B3134
  :padding 4px 0
  :width 100%
  :float left
  
  li
    :float left

  a
    :font-weight bold
    :text-decoration none !important
    :padding 0.3em 0.6em
    :margin 2px 0 2px 15px
    :float left
    
  #backLink a
    :background left center no-repeat url(../images/sub_nav_back_bkg.gif)
    :color= !mid_aqua !important
    :padding-left 13px
    :-moz-border-radius-topright 3px
    :-moz-border-radius-bottomright 3px
    :-webkit-border-top-right-radius 3px
    :-webkit-border-bottom-right-radius 3px
    
  .button
    :float right
    
    a
      :color white !important
      :background
        :color= !mid_aqua
        :image url(../images/button_bkg_aqua.gif)
        :repeat repeat-x
      :border 1px solid white
      :margin 1px 8px 0 0
      :-webkit-border-radius 3px
  
/* Tab Bar
#tabBar
  :background #666666
  :padding 0.6em 0 0 0
  :width 100%
  :float left
  
  li, a
    :float left
    
  a
    :font-weight bold
    :color white
    :text-decoration none
    :padding 0.4em 15px 0.7em 15px
    :margin 0 0 0 15px
    
  .current a
    :background white
    :color= !mid_aqua
    :-moz-border-radius-topright 3px
    :-moz-border-radius-topleft 3px
    :-webkit-border-top-right-radius 3px
    :-webkit-border-top-left-radius 3px

/* Icon nav
#iconNav
  :margin 2em 2% 0 2%
  :width 96%
  :float left
  
  li, a
    :float left
    
  a
    :background center top no-repeat
    :text-align center
    :text-decoration none
    :color= #333333
    :font-size 1.5em
    :padding 85px 0 0 0
    :width 8em

/* Buttons
.buttonAqua,
.buttonGrey
  :text-decoration none !important
  :font-weight bold
  :padding 0.3em 0.6em
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :float left

.buttonAqua
  :background
    :color= !mid_aqua
    :image url(../images/button_bkg_aqua.gif)
    :repeat repeat-x
  :border 2px solid white
  :color white !important

.buttonGrey
  :background #cccccc left top repeat-x url(../images/button_bkg_grey.gif)
  :border 
    :width 2px
    :style solid
    :color= !mid_aqua
  :color= !mid_aqua 
  

/* Tables
table
  :width 100%
  :clear both

thead th
  :background #eaeaea left top repeat-x url(../images/table_head_bkg.gif)
  :border-top 1px solid white
  :border-bottom 1px solid #999999
  :border-right 1px solid #999999
  :font
    :weight bold
    :size 0.9em
  :padding 0.4em 15px 0.5em 15px
  :color #666666
  
tbody th
  :background #F2F2F2
  :font-size 1.2em
  :color #999999
  
td
  :border-bottom 1px solid #dddddd
  :border-right 1px solid #cccccc
  :padding 5px 15px
  
tr.even td
  :background-color #F3EFE5

table .controls
  :border-right-width 0

th.controls
  :letter-spacing -1000em
  :text-indent -1000em

td.controls a
  :margin 0 0.5em 0 0
  :float left

/* Inset table fields
td.inset1
  :text-indent 1.5em
  
td.inset2
  :text-indent 3em

td.inset3
  :text-indent 4.5em
  
td.inset4
  :text-indent 6em

td.inset5
  :text-indent 7.5em

td.inset6
  :text-indent 9em

p.empty
  :font-size 2em
  :color #cccccc
  :text-align center
  :padding 5em 0 0 0
  :width 100%
  :float left

/* Widgets
p.newLink
  :padding 1em
  
/* Forms
form
  :padding 20px 25px
  
fieldset
  :border 0

legend
  :font-size 1.2em
  :color = !mid_grey
  :padding 0 0 0.35em 7px
  
div.fieldset,
ol.fieldset
  :background = !pale_aqua
  :border 1px solid #D2D7D7
  :padding 1.5em 0 0.5em 0
  :margin 0 0 1.5em 0
  :width 99.9%
  :float left
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  
label
  :font-weight bold
  :text-align right
  :padding 0.2em 0.6em 0.2em 0
  :margin 1px 0 0 0
  :width 12em
  :float left 
  :clear left
  
label.checkbox
  :text-align left
  :clear right
  :margin-left 0.6em
  
label.inline
  :margin-left 0.6em
  :width auto
  :clear none

input.inline
  :clear none
  
input.text,
input.password,
input.checkbox,
input.radio,
textarea,
select
  :margin-bottom 1em
  :float left
  :clear right

input.checkbox,
input.radio
  :margin-top 0.35em
  :margin-left 12.6em
  :clear left
  
/* Input/textarea styles and widths
input.text,
input.password,
textarea
  :background white left top no-repeat url(../images/form/input_bkg.gif)
  :border 1px solid #999999
  :padding 0.2em 0.5em
  
input.tiny
  :width 2em

input.small,
textarea.small
  :width 5em
  
input.medium,
textarea.medium
  :width 10em
  
input.large,
textarea.large
  :width 20em

textarea.short
  :height 5em

textarea.medium
  :height 10em
  
textarea.tall
  :height 20em

/* Selects
select
  :margin-top 0.3em

/* Form controls — save/cancel
p.controls
  :border-top 1px solid #cccccc
  :padding 1em 0 0 0
  :margin 0.5em 0 0 0

  input
    :background #cccccc left top repeat-x url(../images/button_bkg_grey.gif)
    :border 
      :width 2px
      :style solid
      :color= !mid_aqua
    :color= !mid_aqua 
    :font
      :weight bold
      :size 1.2em
    :padding 0.3em 0.4em
    :-moz-border-radius 3px
    :-webkit-border-radius 3px
    
  strong
    :font-size 1.2em
    
/* Error display
div.error
  :background 25px 10px no-repeat url(../images/form/warning.gif)
  :background-color= !error_bkg
  :border 2px solid #CDCCA3
  :padding 15px 0
  :margin 0 0 1.5em 0
  :min-height 45px
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  
  h2, ul
    :margin-left 110px
    
  h2
    :color #666666
  
  li
    :font-size 1.2em
    :padding 0.3em 0 0 0
    :display block
    
/* Delete confirmation
#delete 
  :margin-left 20px
  
  form
    :background 15px 25px no-repeat url(../images/form/warning.gif)
    :background-color= !error_bkg
    :border 4px solid #807F65 
    :margin 8em auto 0 auto
    :padding-left 90px
    :width 25em
    :-moz-border-radius 4px
    :-webkit-border-radius 4px
    
  h1
    :font
      :weight bold
      :size 2em
    :color = !mid_aqua
      
  p.message
    :font-size 1.2em
    :margin 0.3em 0 1em 0
    :line-height 1.2

/* Login
#login
  :margin 60px 20% 0 20%
  
  h1
    :margin-bottom 2em
  
  .buttonGrey
    :margin-left 12.6em
    :clear both

/* Locales form
#dialects .checkbox
  :margin-bottom 0.5em
  
/* Templates form
#templateSections 
  li
    :border-bottom 1px solid #cccccc
    :width 100%
    :float left
    :position relative
  
  li.last
    :border 0
        
/* Plus and Minus controls
ul.plusAndMinus
  :margin 0.2em 0 0 1em
  :float left
  
  li, a
    :width 18px !important
    :height 18px
    :float left

  li
    :border 0 !important
    :padding 0 !important
    :margin 0
    :list-style-type none

  a
    :background left top no-repeat url(../images/form/plus_and_minus.gif)
    :letter-spacing -1000em
    :text-indent -1000em

  .minus
    :background-position right top
    :margin-left 4px !important
  
/* Asset Library
.assetList
  :margin
    :left 2%
    :right 2%
  :width 96%
  :float left
  
h2.assetList
  :border-bottom 1px solid #cccccc
  :font-weight bold
  :color #333333
  :padding 0 0 0.3em 0
  :margin-top 1em
  :margin-bottom 0.6em
  
ul.assetList
  :margin-bottom 1em
  
  li, a
    :width 15em
    :float left
    
  h3
    :white-space no-wrap
    :color black !important
    :font-size 1.1em
    :width 100%
    :margin-bottom 0.2em
    :overflow hidden
    
  p
    :color #666666 !important
    :font-size 0.9em
    
  a
    :background left top no-repeat
    :text-decoration none
    :padding 18px 0 0 78px
    :min-height 52px
    
  a.assetArchive,
  a.assetAudio,
  a.assetBinary,
  a.assetDocument,
  a.assetImage,
  a.assetVideo
    :background-image url(../images/library/asset_generic.gif)
    
  a.collection
    :background-image url(../images/library/collection_medium.gif)
    
  a.browseAll
    :background-image url(../images/library/browse_all_medium.gif)
    
  a.browseArchives
    :background-image url(../images/library/browse_archives_medium.gif)
    
  a.browseAudios
    :background-image url(../images/library/browse_audio_medium.gif)
    
  a.browseBinaries
    :background-image url(../images/library/browse_binaries_medium.gif)
  
  a.browseDocuments
    :background-image url(../images/library/browse_documents_medium.gif)

  a.browseImages
    :background-image url(../images/library/browse_images_medium.gif)
    
  a.browseVideos
    :background-image url(../images/library/browse_videos_medium.gif)
  
/* Contents
#iconNav
  #pagesNav
    :background-image url(../images/content/pages.gif)
  
  #pageTypesNav
    :background-image url(../images/content/page_types.gif)
  
  #layoutsNav
    :background-image url(../images/content/layouts.gif)
    
/* Locales
#iconNav
  #usersNav
    :background-image url(../images/settings/users.gif)
    
  #dialectsNav
    :background-image url(../images/settings/dialects.gif)
    
  #localesNav
    :background-image url(../images/settings/locales.gif)

/* Assets
#assets.show 
  #subnav
    :margin-bottom 30px
    
  #wrapper
    :position relative
  
    h2, h3, p, dl
      :margin-left 340px
      :margin-right 30px
    
    h2
      :font-weight bold
      :margin-bottom 0.3em
      
    h3
      :border-bottom 1px solid #E6E6E6
      :font-weight bold
      :padding-bottom 0.6em
      :margin-bottom 0.7em
      
    dl
      :margin-bottom 2em
      
    dt
      :font-weight bold
      :color #333333
      :padding 0.2em 0
      :width 5em
      :float left
      :clear left
      
    dd
      :padding 0.3em 0 0.1em 0
      :clear right
      
  #preview
    :border 1px solid #cccccc
    :background #E6E6E6
    :margin-top 30px
    :width 250px
    :height 200px
    :position absolute
    :left 50px
    :top 5.3em
    :overflow hidden
    
  #categoryAndType
    :margin-bottom 1.5em

/* Asset Browser
#assetsDialogOverlay
  :background url(../images/library/dialog_overlay.png)
  :width 100%
  :height 100%
  :position absolute
  :left 0
  :top 0
  :z-index 20

#assetsDialog
  :border 4px solid #807F65
  :background #FFFFCC
  :height 80%
  :width 80%
  :position absolute
  :left 10%
  :top 10%
  :z-index 21
  /* Border Radius */
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  
  h1
    :background #807F65
    :color white
    :font
      :weight bold
      :size 1.6em
    :padding 0.2em 0
    :text-indent 10px
    
  #assetsNavigation
    :background #666550
    :width 100%
    :float left
    
    li, a
      :float left
      
    li
      :padding 0.5em 0
      
    a
      :background right center no-repeat url(../images/library/nav_regular.gif)
      :font-weight bold
      :text-decoration none
      :padding 0.5em 18px 0.5em 10px
    
    .current
      :background-image url(../images/library/nav_current.gif)
      :color #666550 !important
      
  #assetsHome
    :padding-left 10px !important
    
    a
      /* Browser-specific border-radius
      :-moz-border-radius-topleft 3px
      :-moz-border-radius-bottomleft 3px
      :-webkit-border-top-left-radius 3px
      :-webkit-border-bottom-left-radius 3px
      
  #assetsSearch
    :float right !important
    
    label
      :color white
      :padding 0.4em 0.5em 0 0
    
    input
      :background white left center no-repeat url(../images/library/search_icon.gif)
      :border 2px solid #373B40
      :padding 0.3em 0.6em 0.3em 28px
      :width 12em
    
  form
    :padding 0 10px 0 0
      
  #assetsDisplay
    :width 100%
    :float left
    :clear both
    :overflow auto
    
    ul.assetList
      :overflow hidden
      
  .controls
    :border-top 1px solid #AFAE8B
    :padding 0.8em 0
    :height 1.8em
    :width 100%
    :position absolute
    :left 0
    :bottom 0
    
  #upload
    :margin-left 15px
    :float left
    
  #cancel
    :margin-right 15px
    :float right

/* Asset panels
#assetPanels
  :margin 1em 2%
  :width 98%
  :float left

  li, a
    :float left
  
  a
    :border 2px solid white
    :text-decoration none
    :color black
    :padding 10px 10px 10px 130px
    :width 10em
    :min-height 79px
    :position relative
    
    &:hover
      :background #B9B791
      :border-color #999778
    
  div
    :border 2px solid #666666
    :width 110px
    :height 75px
    :position absolute
    :left 10px
    :top 10px
    :overflow hidden
    
  h2
    :font
      :size 1em
      :weight bold
    :white-space nowrap
    :margin 0 10px 0.2em 0
    :overflow hidden
    
  p
    :font-size 0.85em
    :color #666666
