- @page_title = "Content"
%ul#iconNav
  %li= link_to("Pages", slice_url(:pages), :id => "pagesNav")
  %li= link_to("Page Types", slice_url(:page_types), :id => "pageTypesNav")
  %li= link_to("Layouts", slice_url(:layouts), :id => "layoutsNav")