- @page_title = "Collections"
- if @collections.empty?
  %p.empty No collections available
- else
  %table{:cellpadding => 0, :cellspacing => 0}
    %thead
      %tr
        %th Name
        %th.controls Controls
    %tbody
      - for collection in @collections
        %tr
          %td= collection.name
          %td.controls
            %ul
              %li= link_to("Edit", slice_url(:edit_collection, collection))
              %li= link_to("Delete", slice_url(:delete_collection, collection))

%p.newLink= link_to('New', slice_url(:new_collection), :class => "buttonGrey")