%h1 404!
%p
  Uh oh, the page you were looking for could not be found. This is likely a 
  result of gnome labour law reforms. The little beggers refuse to be on call
  anymore.
  
%p
  Oh well, make do we shall. Have you tried turning your computer off and on again?