- @page_title = "Content"
%ul
  %li= link_to("Pages", url(:admin_pages))
  %li= link_to("Locales", url(:admin_locales))
  %li= link_to("Dialects", url(:admin_dialects))
  %li= link_to("Templates", url(:admin_templates))