%div#assetsDialog
  %h1 Choose Asset
  
  %ul#assetsNavigation
    %li#back= link_to("Back", "#back")
    %li#assetsSearch
      %form
        %label Search
        %input{:type => "text"}
        
  %div#assetsDisplay
    = partial(:browser_root)
    
  %div.controls
    %button#upload.buttonGrey Upload File
    %button#cancel.buttonGrey Cancel